---
layout: page
title: "关于"
description: "我们是桦林！"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <p><strong>关于我们</strong>
        
探索无限可能，尽在桦林服务器（BFR/Hualin）！ <strong>我们的服务器运行在BE 1.21.0/1版本，</strong> 是您体验插件版Minecraft世界的不二选择。作为原版插件服，我们提供领地保护、快速传送、一键返回死亡点等实用功能，让您的游戏旅程更加便捷安全。</p>

<p>在这里，<strong>动态光源</strong>照亮您的每一步，<strong>货币系统和市场插件</strong>让您的交易更加灵活自由。我们的<strong>建筑美丽壮观</strong>，每一砖一瓦都凝聚着创意与匠心。<strong>稳定的指令和优秀的服务</strong>，是我们对每一位玩家的承诺。</p>

<p>桦林服务器<strong>由亲民的服主管理</strong>，我们<strong>不依赖任何云服务，确保服务器稳定不掉线</strong>，让您的<strong>游戏体验流畅无忧</strong>。我们鼓励自由发展，同时坚决抵制不良行为，营造一个<strong>公平、友好的游戏环境</strong>。</p>

<p>加入我们，与志同道合的伙伴们一起，建造、探索、交易，享受游戏的乐趣。在这里，您的每一个创意都能得到实现，每一次冒险都充满惊喜。桦林服务器，等待您的加入，一起创造属于我们的Minecraft传奇！</p>

<p><strong>QQ群号：907986009</strong></p>


</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <p><strong>About Us</strong>

Explore the infinite possibilities on BFR/Hualin! <strong>Our servers run on BE 1.21.0/1,</strong> which is the perfect way to experience the world of Minecraft. As the original plug-in server, we provide practical functions such as <strong>territory protection, fast teleportation, and one-click return to the death point,</strong> making your game journey more convenient and safe.</p>

<p>Here, <strong>the Dynamic Light Source</strong> illuminates your every step of the way, <strong>and the Currency System and Market Plugin</strong> make your trading more flexible and free. <strong>Our buildings are beautiful and magnificent,</strong> and every brick and tile embodies creativity and ingenuity. <strong>Stable instructions and excellent service</strong> are our commitment to every player.</p>

<p>The Birch Forest server is managed by <strong>a people-friendly server owner,</strong> and <strong>we do not rely on any cloud services to ensure that the server is stable and not dropped,</strong> so that <strong>your game experience is smooth and worry-free.</strong> We encourage free development while resolutely resisting bad behavior and creating a fair and friendly gaming environment.</p>

<p><strong>Join us and build, explore, trade, and have fun with like-minded fellows. Here, your every creative idea can be realized, and every adventure is full of surprises. Birch Forest server, waiting for you to join us and create our own Minecraft legend together!</strong></p>

<p><strong>QQ group number: 907986009</strong></p>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

